body
{background-image: url("../images/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#start{
    background-color: #EAD732;
   border: 1px solid #3434c7;
   color:#3434c7;
}

/* #start:focus,
#start:active{
    background-color: #EAD732;
   border: 1px solid #3434c7;
} */

.answers{
    width:250px;
    background-color: #000043;
    border: 1px solid #3434c7;
   /* Grow */
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    /* box-shadow: 5px 10px px 10px #888888; */
}

.answers:hover,
.answers:focus,
.answers:active {
    transform: scale(1.2);
    background-color: #000043;
   border: 1px solid #3434c7;
  }

  #img-gif{
      border:2px solid;  
  }

